.moreModalContainer {
  position: absolute;
  top: 0;
  z-index: 150;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

  @media screen and (min-width: 800px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .moreModal {
    height: 400px;
    width: 90vw;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    @keyframes scaleUp {
      0% {
        /* 모달 콘텐츠를 하단에 위치시킴 */
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
      }
      100% {
        /* 모달 콘텐츠를 본래 위치로 돌려놓음 */
        transform: scale(1) translateY(0);
        opacity: 1;
      }
    }
  }
}
